; https://docs.npmjs.com/cli/v6/configuring-npm/npmrc

; Enforce using exact versions when installing packages.
; Prevents "example-library": "^3.4.11" and enforces "example-library": "3.4.11".
; See: http://c2fo.io/node/npm/javascript/2016/06/03/protecting-your-product-with-npm-save-exact/
save-exact = true

; Prevent package-lock.json file from being created.
package-lock = false
